.banner-section {
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.banner-section {
    display: inline-block;
    overflow: hidden;
    position: relative;
    width: 100%;
    background: none;
}
.banner-section img {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.feature-lsit li:after {
    content: '\f30f';
}
.service-section .single-item {
    margin-bottom: 70px;
}
.common-style .main-menu .menuzord .menu-right-part .social-btn a i{
    color: #000;
}
.section-head p {
    margin: 10px auto;
}

.social-btn ul li {
    padding: 0 10px;
}
.common-style .main-menu .menuzord .menu-right-part {
    top: unset;
    padding: 26px 0px;
}

.about .quote-section {
    background-image: url(../../images/testi-section.jpg);
}
.fixed-nav nav#menuzord {
    background-color: rgba(255,255,255,.8);
}
.d-grid {
    display: grid;
}
.grid-column-2 {
    grid-template-columns: 1fr 1fr;
}

.news-section .mm-small-box {
    padding-top: 0px;
}

.common-style .main-menu.fixed-nav{ 
    background: #fff;
    top: 0;
}
.limo-breatcume h2 {
    margin: 0;
    padding:10px 0;
}
.main-menu.fixed-nav .menuzord.red .menuzord-menu>li.active>a, 
.main-menu.fixed-nav .menuzord.red .menuzord-menu>li:hover>a,
.main-menu.fixed-nav .menuzord-menu>li>a {
    color : #111217;
}

.padding-tb200 {
    padding: 200px 0px;
}

.background-img{
    position: relative;
    z-index: -1;
    max-height: 450px;
}
.background-img .overlay {
    content:"";
    position: absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background: rgba(0,0,0,0.3);
}

.background-img img {
    object-fit: cover;
    min-height: 450px;
}
.background-img .background-text {
    position: absolute; 
    top: 200px; 
    left: 0; 
    width: 100%; 
    color: #fff;
}

@media screen and (max-width : 680px) {
    .grid-column-xs {
        grid-template-columns: 1fr;
    }
}
@media screen and (max-width: 991px) {
    .menuzord .showhide em {
        background-color: black;
    }
}